/* стили  лого футера */
.footer-logo-container {
    margin-right: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
    display: flex;
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    color: #2196f3;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
}

.footer-logo {
    display: flex;
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    color: #2196f3;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
}

.footer-logo-color {
    color: $text-secondary-color;
}