/* стили меню навигации */

.navigation {
   margin-bottom: auto;
}


.site-nav {
    list-style: none;
    padding: 0;
    margin: 0;
   
 @media screen and (min-width: 768px) {
    display: flex;
    margin-bottom: 0;
    margin-right: 84px;
    align-items: center;
}
@media screen and (min-width: 1200px) {
    margin-right: 0;
 }


&__item {
    padding: 0;
    margin-left: 0;
    margin-bottom: 32px;
    list-style: none;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

@media screen and (min-width: 768px) {
     margin-bottom: 0;
     margin-right: 50px;
     padding-top: 32px;
     padding-bottom: 32px;
     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
     color: #212121;
     position: relative;
}  
}

&__item:last-child {
     margin-right: 0;
}
  
.link {
    text-decoration: none;
    align-items: center;
    color: $title-main-color;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 32px;

&:hover, 
&:focus {
   color: $accent-color;
}
}
}


 

