/* стили лого */
.navigation__logo1 {
    display: flex;
    margin-right: 93px;
    font-family: Raleway, sans-serif;
    color: #2196f3;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
}

.navigation__logo2 {
    color: #292929;
}