/* эффект присутствия на текущей странице в меню */

.site-nav__titlehighlightning {
    color: $accent-color;
}

.site-nav__highlightning::after {
    content: '';
    position: absolute;
    width: 48px;
    height: 4px;
    top: 76px;
    background-color: $accent-color;
    border-radius: 2px;
}
