/* заголовок секции НАША КОМАНДА */
.team-title {
    margin-bottom: 0;
    padding-top: 0;
    margin-bottom: 50px;
    color: $title-main-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-container {
    display: flex;
    box-sizing: border-box;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

&__item {
        background-color: $background-main-color;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;

&:not(:last-child) {
            margin-right: 30px;
    }

    }

 

 &__thumb {
        padding: 30px 0;
    }

                 /* стили заголовков карточки персонала */
&__employee {
        margin-bottom: 10px;
        text-align: center;
        color: $title-main-color;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }

    /* стили списка профессий персонала */
 &__position {
        text-align: center;
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
}

