                /* стили секции Постоянные клиенты */

.our-clients-title {
    padding-top: 0;
    margin-bottom: 30px;
    color: $title-main-color;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    
@media screen and (min-width: 1200px) {
   margin-bottom: 0;
   margin-bottom: 50px;
   font-size: 36px;
}
}

.our-clients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;



&__card{
@media screen and (max-width: 479.9px) {
    width: 100%;
    max-width: calc((100% - 30px) / 2);
}  
}
 

                                 /* стили svg-иконок Постоянные клиенты */
&__blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid $icon-main-color;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);


@media screen and (min-width: 480px) {
    width: 210px;
}

@media screen and (min-width: 768px) {
    width: 226px;
}

@media screen and (min-width: 1200px) {
     width: 170px;
}

&:hover,
&:focus {
     border: 1px solid $accent-color;
}
}


&__icon {
    fill: $icon-main-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

.our-clients__blocks:hover &,
.our-clients__blocks:focus & {
    fill: $accent-color;
}
}
}



