.button-mobmenu{
    display: inline-flex;
    position: fixed;
    right: 25px;
    z-index: 2;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent; 

    @media screen and (min-width: 768px) {
    display: none;    
    }


& .icon-close-mobmenu{
    display: none;
 
}

&.is-open .icon-close-mobmenu {
    display: block;
   
  
  
   
}
&.is-open:hover .icon-close-mobmenu,
&.is-open:focus .icon-close-mobmenu {
 fill: $accent-color;
}

&.is-open .icon-burger-mobmenu {
display: none;
}
&:focus .icon-burger-mobmenu{
fill: $accent-color;
}
}