/* преобладающие стили для страницы */
body {
color: $text-main-color;
background-color: $background-main-color;
font-weight: 400;
font-family: Roboto, sans-serif;
font-size: 14px;
letter-spacing: 0.03em;
}

/* Свойства для корректного отображения картинок */
img {
display: block;
max-width: 100%;
height: auto;
}

/* общий класс для всех секций */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

/* общий класс для паддинга секций */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* указатель на ссылки */
.button {
    cursor: pointer;
}

