/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

/* класс для отключения точек в ul-списке */
.list {
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

/* класс для отключения подчеркивания ссылок */
.link {
    text-decoration: none;
}