 $text-main-color: #757575;
 $text-secondary-color: #ffffff;
 $title-main-color: #212121;
 $accent-color: #2196f3;
 $background-main-color: #ffffff;
 $background-secondary-color: #2f303a;
 $button-background-color: #2196f3;
 $icon-main-color: #afb1b8;
 $portfolio-list-gap: 30px;